.overlay-image {
    position: relative;
    width: 100vw;
}

.overlay-logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50%; /* 원하는 크기로 조절 */
}

.btn-no-underline {
        text-decoration: none !important;
}

#이새롬 {
    display: flex;
}